.Body {
  background: url('https://images.pexels.com/photos/701970/pexels-photo-701970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  min-height: 100vh;  
  background-attachment: fixed;
    background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
} 