.Navbar {
    width: 100vw;
    height: 15vh;
    background: lime

}

.Logo {
    font-family: cursive;
    float: left;
    padding-left: 50px;
    color: whitesmoke;
    font-style: italic;
    align-items: baseline
}

.Slogan {
    font-family: cursive;
    float: right;
    color: whitesmoke;
    font-style: italic;
    padding-right: 25px;
    padding-top: 9px;
    align-items: baseline
}